

body {
	padding-top: 70px;
}

.table-auto {
	width: auto;
	margin: 0 auto;
}

img.img-thumbnail {
	/*width: 100%;
	border: none;*/
	height: 250px;
}

.front-header{
	margin: 0 auto;
}

/* Login form */
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 10px;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.error-form{
	max-width: 330px;
	margin: 0 auto;
}

/* Change Password */
.form-ch-pass {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.price {
  font-size: 120%;
}

.product-name {
  font-size: 120%;
}

.thumbnail {
  /*position: relative;*/
  border: none;
  overflow: hidden;
}
.thumbnail a > div {
  padding: 20px;
}
.thumbnail a > div > img {
  display: block;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.cap {
  position: relative;
  /*border-top: 1px solid #6c7a89;*/
}

.thumbnail:hover .caption > button {
  left: 0%;
}

.thumbnail:hover a > div > img {
  transform: scale(1.2);
}

.quick-view-btn {
  position: absolute;
  bottom: 0px;
  left: -110%;
  transition: all 0.3s ease-in-out;
}

/* btn-default-2 */
.btn-default-grey {
  background: #f5f5f5;
  color: #333333;
  border-color: #dddddd;
}

.btn-default-grey:hover {
  color: #333333;
  background-color: #ebebeb;
  border-color: #dddddd;
}

img.img-not-responsive {
  width: 64px;
  height: 64px;
}

footer {
  background: #ecf0f1;
  color: #333;
  font-size: 12px;
  padding: 20px;
  margin-top: 150px;
}