html {
  position: relative;
  min-height: 100%;
}

body {
	padding-top: 70px;
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: #eee;
  color: #333;
}

.footer > .container > h5 {
  padding-top: 10px;
}



.table-auto {
	width: auto;
	margin: 0 auto;
}

img.img-thumbnail {
	/*width: 100%;
	border: none;*/
	height: 250px;
}

.front-header{
	margin: 0 auto;
}

/* Login form */
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 10px;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.error-form{
	max-width: 330px;
	margin: 0 auto;
}

/* Change Password */
.form-ch-pass {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.price {
  font-size: 120%;
}

.product-name {
  font-size: 120%;
}

.thumbnail {
  position: relative;
  border: none;
}

.quick-view-btn {
  position: absolute;
  bottom: 95px;
  left: 0px;
}

/* btn-default-2 */
.btn-default-grey {
  background: #f5f5f5;
  color: #333333;
  border-color: #dddddd;
}

.btn-default-grey:hover {
  color: #333333;
  background-color: #ebebeb;
  border-color: #dddddd;
}

/* navbar-inverse */

.navbar-inverse {
  /*background-color: #2780e3;*/
  background-color: #049372;
  border-color: #03a678;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #03a678;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #03a678;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #03a678;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #049372;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #03a678;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #03a678;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #03a678;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #03a678;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #03a678;
  }
}

/* btn-success */
.btn-success {
  color: #ffffff;
  background-color: #26c281;
  border-color: #26c281;
}
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #00b16a;
  border-color: #26c281;
}
.btn-success:hover {
  color: #ffffff;
  background-color: #00b16a;
  border-color: #00b16a;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #00b16a;
  border-color: #00b16a;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #24690e;
  border-color: #184509;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #26c281;
  border-color: #26c281;
}
.btn-success .badge {
  color: #26c281;
  background-color: #ffffff;
}

/* dropdown-menu */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  /*background-color: #2780e3;*/
  background-color: #049372;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #049372;
}